<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('./partials/head.ejs') %>

    <body data-alert=`${alert ? alert : ''}`>
        <%- include('./partials/sidebar.ejs') %>
            <%- include('./partials/header.ejs') %>
                <%- include('./partials/clock.ejs') %>
                    <%- body -%>
                        <%- include('./partials/footer.ejs') %>
                            
                            <script src="/js/bundle.js"></script>

    </body>

</html>