<div class="all-content content-blog">
  <div class="show-blog py-4">
    <div class="d-flex margin-x">
      <div class="col-8">
        <div class="category-blog">
          <div class="category-name">
            <a class="a-orange" href="">
              <span>TIN TỨC - SỰ KIỆN ></span>
            </a>
          </div>
          <div class="blog-in d-flex" style="margin-right: 12px;">
            <div class="col-6 bgr-blog">
              <a href="/Blogs/<%= blog.blogs[0].slug %>">
                <div class="mx-2">
                  <div class="img-active py-2">
                    <img src="/uploads/images/<%= blog.blogs[0].image %>" alt="" width="100%">
                  </div>
                  <div class="title-active py-2">
                    <span style="font-size:17px;">
                      <%= blog.blogs[0].title %>
                    </span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6 bgr-blog nactive">
              <div class="mx-2">
                <% for(let i=1; i<blog.blogs.length; i++) {%>
                  <a href="/Blogs/<%= blog.blogs[i].slug %>">
                    <div class="d-flex py-2">
                      <div class="col-5">
                        <img src="/uploads/images/<%= blog.blogs[i].image %>" alt="">
                      </div>
                      <div class="col-7">
                        <div class="text-nactive">
                          <span>
                            <%= blog.blogs[i].title %>
                          </span>
                        </div>
                      </div>
                    </div>
                  </a>
                  <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('./partials/rightPart.ejs') %>

      </div>
    </div>
  </div>
</div>